<div class="row min-vh-100">
  <section class="d-none d-lg-block col-lg-5 p-5 text-white" style="background-color: #021138;">
    <h2 class="fs-3 fw-bold mt-5 pt-5"><%= link_to 'Coolab', root_path, data: { turbo: false },class: "text-decoration-none link-light" %></h2>
    <p class="fs-5">Cool project collaboration for your teams !</p>
  </section>
  <section class="offset-lg-1 col-lg-6 py-4 d-flex flex-column align-items-center d-lg-block">
    <p>
      Not yet a collaborator?
      <%= link_to 'Sign up now', signup_path, class: "link-light text-decoration-underline" %>
    </p>
    <h1 class="fs-3 fw-bold mt-5 pt-lg-5">Sign in to Coolab</h1>

    <%= form_with(url: login_path, class: "w-max-form") do |form| %>
      <div class="mt-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control"  %>
      </div>

      <div class="mt-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control"  %>
      </div>

      <div class="mt-3">
        <%= form.submit 'Sign in', class: "btn text-white w-100", style: "background-color: hsl(240, 60%, 41%);" %>
      </div>
    <% end %>
  </section>
</div>