<header>
  <nav>
    <div>
      <a class="fs-x-large" href="">Coolab</a>
      <ul id="navigation">
        <li><a href="#product">Product</a></li>
        <li><a href="#feature">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><%= link_to 'Sign in', login_path, data: { turbo: false }, class: "btn-menu" %></li>
        <li><%= link_to 'Sign up', signup_path, data: { turbo: false }, class: "btn-contact btn-menu" %></li>
      </ul>
    </div>
    <div>
      <a class="close" href="#navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
        Menu
      </a>
      <%= link_to 'Sign in', login_path, data: { turbo: false }, class: "btn-menu-lg" %>
      <%= link_to 'Sign up', signup_path, data: { turbo: false }, class: "btn-contact btn-menu-lg" %>
    </div>
  </nav>
</header>

<main>
  <section id="product">
    <div>
      <h1>Cool project collaboration for your teams !</h1>
      <p>Say hello to a user-friendly collaboration app that save your team work time.</p>
      <%= link_to 'Get started', signup_path, data: { turbo: false }, class: "btn-contact" %>
    </div>
    <section>
      <%= image_tag "header magnet-me-63XrEEiOko8-unsplash.jpg", alt: "Collaborator on project" %>
      <%= image_tag "header windows-N1YOSWrXQJE-unsplash.jpg", alt: "Collaborator on project" %>
      <span>Stay organized</span>
      <span>Visualize work progress</span>
      <span>Manage your project</span>
    </section>
  </section>

  <section id="feature">
    <h2>Features</h2>
    <div>
      <article>
        <div>
          <h3>Assign task</h3>
          <p>Organize and assign tasks that meets employees availability so they can see immediately what they need to do, and when work is due.</p>
        </div>
        <%= image_tag "Screenshot1.png", alt: "Coolab screenshot" %>
      </article>
      <article>
        <div>
          <h3>Checkout the work progress</h3>
          <p>See accurate working hours and visualize the work maps over time.</p>
        </div>
        <%= image_tag "Screenshot2.png", alt: "Coolab screenshot" %>
      </article>
      <article>
        <div>
          <h3>Manage project</h3>
          <p>Manage project efficiently in real time and approve work hours directly in just one click.</p>
        </div>
        <%= image_tag "Screenshot3.png", alt: "Coolab screenshot" %>
      </article>
    </div>
  </section>

  <section id="integration">
    <h2>One app to manage all works</h2>
    <p>It integrates seamlessly with all major tools so you can manage all works easily in just one place, from start to finish.</p>
    <div>
      <article>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 278050 333334" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path fill="#ea3e23" d="M278050 305556l-29-16V28627L178807 0 448 66971l-448 87 22 200227 60865-23821V80555l117920-28193-17 239519L122 267285l178668 65976v73l99231-27462v-316z"/></svg>
        <h3>Office365</h3>
        <p>For work office</p>
      </article>
      <article>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1333.34 1133.07" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path d="M667.53 212.92L333.76 425.84l333.77 212.92-333.77 212.92L0 637.61l333.76-212.92L0 212.92 333.76 0l333.77 212.92zM332.04 920.15L665.8 707.23l333.76 212.92-333.76 212.92-333.76-212.92zM667.53 637.6l333.76-212.92-333.76-211.77L999.57-.01l333.77 212.92-333.77 212.92 333.77 212.92-333.77 212.92L667.53 637.6z" fill="#0061ff" fill-rule="nonzero"/></svg>
        <h3>Dropbox</h3>
        <p>For file sharing</p>
      </article>
      <article>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333334 333334" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><defs><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="162482" y1="307276" x2="170852" y2="26057.5"><stop offset="0" stop-color="#19a8dd"/><stop offset=".678" stop-color="#2ab2e2"/><stop offset="1" stop-color="#3cbde8"/></linearGradient></defs><circle cx="166667" cy="166667" r="166667" fill="url(#a)"/><path d="M246886 91205l-29735 149919s-4158 10396-15594 5404l-68618-52606-24952-12059-42002-14140s-6446-2288-7069-7277c-624-4992 7277-7694 7277-7694l166970-65498s13722-6030 13722 3951z" fill="#fefefe"/><path d="M127666 239440s-2003-188-4499-8089c-2495-7901-15178-49487-15178-49487l100846-64043s5822-3535 5614 0c0 0 1040 623-2079 3534s-79222 71320-79222 71320l-5481 46765z" fill="#d4e6f1"/><path d="M159250 214094l-27141 24745s-2122 1609-4443 601l5197-45965 26387 20619z" fill="#b6d0e5"/></svg>
        <h3>Telegram</h3>
        <p>For message</p>
      </article>
      <article>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 128.1"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>notion</title><path class="cls-1" d="M21.19,22.46c4,3.23,5.48,3,13,2.49l70.53-4.24c1.5,0,.25-1.49-.25-1.74L92.72,10.5a14.08,14.08,0,0,0-11-3.23l-68.29,5c-2.49.24-3,1.49-2,2.49l9.73,7.72ZM25.42,38.9v74.21c0,4,2,5.48,6.48,5.23l77.52-4.48c4.49-.25,5-3,5-6.23V33.91c0-3.23-1.25-5-4-4.73l-81,4.73c-3,.25-4,1.75-4,5Zm76.53,4c.49,2.24,0,4.48-2.25,4.73L96,48.36v54.79c-3.24,1.74-6.23,2.73-8.72,2.73-4,0-5-1.24-8-5L54.83,62.55V99.66l7.73,1.74s0,4.48-6.23,4.48l-17.2,1c-.5-1,0-3.48,1.75-4l4.48-1.25V52.59l-6.23-.5a4.66,4.66,0,0,1,4.24-5.73l18.44-1.24L87.24,84V49.6l-6.48-.74a4.21,4.21,0,0,1,4-5l17.21-1ZM7.72,5.52l71-5.23C87.49-.46,89.73.05,95.21,4L117.89,20c3.74,2.74,5,3.48,5,6.47v87.42c0,5.47-2,8.71-9,9.21l-82.5,5c-5.24.25-7.73-.5-10.47-4L4.24,102.4c-3-4-4.24-7-4.24-10.46V14.24C0,9.76,2,6,7.72,5.52Z"/></svg>
        <h3>Notion</h3>
        <p>For project </p>
      </article>
      <article>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333333 333333" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path d="M166667 333334C74755 333334-1 258590-1 166666S74730-2 166667-2c91911 0 166668 74730 166668 166668 0 91937-74744 166668-166668 166668zm140559-143870c-4872-1563-44089-13209-88670-6065 18620 51163 26169 92835 27671 101502 31896-21604 54687-55795 61000-95437h-2zm-84955 108455c-2148-12506-10352-55998-30329-107937-333 130-646 191-915 333-80329 27996-109185 83669-111709 88872 24152 18811 54504 30087 87378 30087 19734 0 38547-4041 55604-11331l-31-24h2zM60869 262043c3254-5543 42317-70185 115689-93935 1833-579 3709-1163 5604-1685-3581-8083-7480-16203-11522-24146-71022 21291-140038 20374-146288 20313-67 1441-67 2874-67 4356 0 36516 13878 69913 36583 95122v-26zM27349 137693c6380 61 65041 325 131646-17317-23555-41935-49022-77203-52794-82352-39850 18805-69667 55543-78833 99670h-20zM133337 28464c3914 5266 29811 40502 53126 83331 50648-18941 72061-47799 74608-51441-25130-22331-58207-35876-94398-35876-11455 61-22669 1439-33329 3974l-6 12h-2zm143562 48431c-3002 4035-26902 34646-79504 56128 3309 6766 6514 13669 9437 20646 1039 2478 2085 4872 3063 7350 47392-5911 94459 3587 99152 4559-333-33583-12378-64457-32167-88670l18-12 2-2z" fill="#ea4c89"/></svg>
        <h3>Dribbble</h3>
        <p>For design</p>
      </article>
    </div>
  </section>

  <section id="testimonial">
    <h2>Clients and teams of all sizes love our app.</h2>
    <div>
      <article>
        <%= image_tag "testimonial abbas-malek-hosseini-JC1oue4zY5U-unsplash.jpg", alt: "Client testimonial" %>
        <p>New employees on boarding is so easy with Coolab.</p>
      </article>
      <article>
        <%= image_tag "testimonial christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg", alt: "Client testimonial" %>
        <p>It has never been easier to manage our project.</p>
      </article>
      <article>
        <%= image_tag "testimonial christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg", alt: "Client testimonial" %>
        <p>Having all of our project collaboration is really cool!</p>
      </article>
      <article>
        <%= image_tag "testimonial batel-studio-ttSRjiYG_WM-unsplash.jpg", alt: "Client testimonial" %>
        <p>It helps me to prioritize tasks and improve work productivity.</p>
      </article>
    </div>
  </section>

  <section id="pricing">
    <h2>Pricing </h2>
    <p>Adapt for all sizes, always know what you'll pay.</p>
    <div>
      <article class="card">
        <h3 class="fs-large">Basic</h3>
        <p><span>$9</span>/month</p>
        <a class="btn-outline-primary" href="#">Start free trial</a>
        <p>Basic includes:</p>
        <ul>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
            Project and task
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
            Time tracking
          </li>
        </ul>
      </article>
      <article class="card">
        <h3 class="fs-large">Pro</h3>
        <p><span>$15</span>/month</p>
        <a class="btn-outline-primary" href="#">Start free trial</a>
        <p>Everything from Basic plus:</p>
        <ul>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
            Task stats
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
            All apps integrations
          </li>
        </ul>
      </article>
    </div>
  </section>

  <section id="cta">
    <h2>Manage your project and<br>collaborate in just one place.</h2>
    <%= link_to 'Get started', signup_path, data: { turbo: false }, class: "btn-contact" %>
  </section>
</main>
<footer>
  <article>
    <div>
      <h4>Coolab</h4>
      <ul>
        <li><a href="#product">Product</a></li>
        <li><a href="#feature">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
      </ul>
    </div>
    <div>
      <h4>About Us</h4>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Company</a></li>
        <li><a href="#">Investors</a></li>
      </ul>
    </div>
    <div>
      <h4>Resources</h4>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Guide</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <div>
      <h4>Contact</h4>
      <address>
        <a href="mailto:hello@design.com">hello@app.com</a><br>
        <a href="tel:+1934-433-21-551">+1 934-433-21-551</a>
      </address>
    </div>
  </article>
  <div>
    <p><small>&copy; 2023, Inc.</small></p>
    <ul class="icons">
      <li>
        <a href="#" class="icon-circle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="16" height="16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640"><path d="M380.001 120.001h99.993V0h-99.993c-77.186 0-139.986 62.8-139.986 139.986v60h-80.009V320h79.985v320h120.013V320h99.994l19.996-120.013h-119.99v-60.001c0-10.843 9.154-19.996 19.996-19.996v.012z"/></svg>
        </a>
      </li>
      <li>
        <a href="#" class="icon-circle">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"><path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg>
        </a>
      </li>
      <li>
        <a href="#" class="icon-circle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="16" height="16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640"><path d="M228.582 205.715h126.462v64.832h1.83c17.611-31.595 60.675-64.832 124.892-64.832C615.303 205.715 640 288.818 640 396.926v220.219H508.116V421.93c0-46.536-.969-106.442-68.576-106.442-68.67 0-79.194 50.658-79.194 103.052v198.605H228.581v-411.43zM137.152 91.43c0 37.855-30.721 68.576-68.576 68.576-37.855 0-68.587-30.721-68.587-68.576 0-37.855 30.732-68.576 68.587-68.576 37.855 0 68.576 30.721 68.576 68.576zM-.011 205.715h137.163v411.43H-.011v-411.43z"/></svg>
        </a>
      </li>
    </ul>
  </div>
</footer>