<header data-controller="menu">
  <nav>
    <div>
      <a class="fs-x-large" href="">Coolab</a>
      <ul id="navigation">
        <li><a href="#product">Product</a></li>
        <li><a href="#feature">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li class="btn-menu"><%= link_to 'Sign in', login_path, data: { turbo: false }, class: "btn-menu" %></li>
        <li class="btn-menu"><%= link_to 'Sign up', signup_path, data: { turbo: false }, class: "btn-contact btn-menu" %></li>
      </ul>
    </div>
    <div>
      <a class="close" href="#" data-action="menu#toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
        Menu
      </a>
      <%= link_to 'Sign in', login_path, data: { turbo: false }, class: "btn-menu-lg" %>
      <%= link_to 'Sign up', signup_path, data: { turbo: false }, class: "btn-contact btn-menu-lg", id: 'signup' %>
    </div>
  </nav>
  <ul class="menu-wrapper" data-menu-target="navigation" style="display: none">
    <li><a class="btn-menu menu" href="#product" data-action="menu#close">Product</a></li>
    <li><a class="btn-menu menu" href="#feature" data-action="menu#close">Features</a></li>
    <li><a class="btn-menu menu" href="#pricing" data-action="menu#close">Pricing</a></li>
    <li><%= link_to 'Sign in', login_path, data: { turbo: false }, class: "btn-contact btn-menu" %></li>
    <li><%= link_to 'Sign up', signup_path, data: { turbo: false }, class: "btn-contact btn-menu" %></li>
  </ul>
</header>

<main>
  <section id="product" >
    <div>
      <h1>Cool project collaboration for your teams !</h1>
      <p>Say hello to a user-friendly collaboration app that save your team work time.</p>
      <%= link_to 'Get started', signup_path, data: { turbo: false }, class: "btn-contact" %>
    </div>
    <section>
      <%= image_tag "header magnet-me-63XrEEiOko8-unsplash.jpg", alt: "Collaborator on project" %>
      <%= image_tag "header windows-N1YOSWrXQJE-unsplash.jpg", alt: "Collaborator on project" %>
      <span>Stay organized</span>
      <span>Manage your project</span>
      <span>Assign task issues</span>
    </section>
  </section>

  <section id="feature">
    <h2>Features</h2>
    <div>
      <article>
        <div>
          <h3>Assign task issues</h3>
          <p>Organize and assign task issues for collaborators so they can see immediately what they need to do, and when work is due.</p>
        </div>
        <%= image_tag "feature-issues.png", alt: "Feature issues screenshot" %>
      </article>
      <article>
        <div>
          <h3>Chat with others collaborators</h3>
          <p>Communicate easily on project, and keep everyone up to date</p>
        </div>
        <%= image_tag "feature-chat.png", alt: "Feature chat screenshot" %>
      </article>
      <article>
        <div>
          <h3>Store all files in documents</h3>
          <p>Store projects documents efficiently in one place in just one click.</p>
        </div>
        <%= image_tag "feature-documents.png", alt: "Feature documents screenshot" %>
      </article>
    </div>
  </section>

  <section id="testimonial">
    <h2>Clients and teams of all sizes love our app.</h2>
    <div>
      <article>
        <%= image_tag "testimonial abbas-malek-hosseini-JC1oue4zY5U-unsplash.jpg", alt: "Client testimonial" %>
        <p>Employees collaborations are so easy with Coolab.</p>
      </article>
      <article>
        <%= image_tag "testimonial christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg", alt: "Client testimonial" %>
        <p>It has never been easier to manage our project.</p>
      </article>
      <article>
        <%= image_tag "testimonial christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg", alt: "Client testimonial" %>
        <p>Having all of our projects in one app is really cool!</p>
      </article>
      <article>
        <%= image_tag "testimonial batel-studio-ttSRjiYG_WM-unsplash.jpg", alt: "Client testimonial" %>
        <p>It helps me to prioritize tasks and improve work productivity.</p>
      </article>
    </div>
  </section>

  <section id="pricing">
    <h2>Pricing </h2>
    <p>Adapt for all sizes, get started for free.</p>
    <div>
      <article class="card">
        <h3 class="fs-large">Free</h3>
        <p><span>$0</span>/month</p>
        <%= link_to 'Get started', signup_path, data: { turbo: false }, class: "btn-outline-primary" %>
        <p>Basic includes:</p>
        <ul>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
            Project
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
            Task, Chat, Document
          </li>
        </ul>
      </article>
    </div>
  </section>

  <section id="cta">
    <h2>Manage your project and<br>collaborate in just one place.</h2>
    <%= link_to 'Get started', signup_path, data: { turbo: false }, class: "btn-contact" %>
  </section>
</main>
<footer>
  <article>
    <div>
      <h4>Coolab</h4>
      <ul>
        <li><a href="#product">Product</a></li>
        <li><a href="#feature">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
      </ul>
    </div>
    <div>
      <h4>About Us</h4>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Company</a></li>
        <li><a href="#">Investors</a></li>
      </ul>
    </div>
    <div>
      <h4>Resources</h4>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Guide</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <div>
      <h4>Contact</h4>
      <address>
        <a href="mailto:hello@design.com">hello@app.com</a><br>
        <a href="tel:+1934-433-21-551">+1 934-433-21-551</a>
      </address>
    </div>
  </article>
  <div>
    <p><small>&copy; 2023, Inc.</small></p>
    <ul class="icons">
      <li>
        <a href="#" class="icon-circle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="16" height="16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640"><path d="M380.001 120.001h99.993V0h-99.993c-77.186 0-139.986 62.8-139.986 139.986v60h-80.009V320h79.985v320h120.013V320h99.994l19.996-120.013h-119.99v-60.001c0-10.843 9.154-19.996 19.996-19.996v.012z"/></svg>
        </a>
      </li>
      <li>
        <a href="#" class="icon-circle">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"><path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg>
        </a>
      </li>
      <li>
        <a href="#" class="icon-circle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="16" height="16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640"><path d="M228.582 205.715h126.462v64.832h1.83c17.611-31.595 60.675-64.832 124.892-64.832C615.303 205.715 640 288.818 640 396.926v220.219H508.116V421.93c0-46.536-.969-106.442-68.576-106.442-68.67 0-79.194 50.658-79.194 103.052v198.605H228.581v-411.43zM137.152 91.43c0 37.855-30.721 68.576-68.576 68.576-37.855 0-68.587-30.721-68.587-68.576 0-37.855 30.732-68.576 68.587-68.576 37.855 0 68.576 30.721 68.576 68.576zM-.011 205.715h137.163v411.43H-.011v-411.43z"/></svg>
        </a>
      </li>
    </ul>
  </div>
</footer>