<%= link_to project_comments_path(project) do %>
  <div class="mt-3 card-darker card-width-height title-container">
    <h2 class="fs-3 title">Chat</h2>
    <%= turbo_stream_from "comment" %>
    <% if project.comments.any? %>
      <% project.comments.recent.each do |comment| %>
        <div id="<%= dom_id comment %>">
          <h3 class="fs-5">
            <%= profile_picture_small comment.collaborator %>
            <span class="fs-6 px-2 py-1 bg-dark rounded">
                <%= comment.content %>
              </span>
          </h3>
        </div>
      <% end %>
    <% else %>
      <%= button_tag "Add a comment", class: "btn btn-dark btn-sm" %>
    <% end %>
  </div>
<% end %>