<%= link_to project_comments_path(project), class: "overflow-hidden" do %>
  <div class="card-darker card-height title-container">
    <h2 class="title">Chat</h2>
    <%= turbo_stream_from "comment" %>
    <% if project.comments.present? %>
      <% project.comments.recent.each do |comment| %>
        <div class="flex items-start gap-2 my-1" id="<%= dom_id comment %>">
          <%= profile_picture_small comment.collaborator %>
          <p><%= comment.content %></p>
        </div>
      <% end %>
    <% else %>
      <%= button_tag "Add a comment", class: "btn btn-dark btn-sm" %>
    <% end %>
  </div>
<% end %>