<% if comment.collaborator == current_collaborator %>
  <article class="flex items-center justify-end gap-1" id="<%= dom_id comment %>">
    <div class="inline-block">
      <%= button_to '', [comment.project, comment], method: :delete, class: "bi bi-trash p-1 text-gray-600 hover:text-red-600" %>
    </div>
    <div class="align-middle inline-block px-2 py-1 bg-gray-800 rounded-lg mb-2 text-end">
      <time class="text-sm text-gray-500" datetime="<%= comment.created_at %>"><%= comment_datetime comment %></time>
      <address class="inline text-sm font-semibold"><%= comment.collaborator.name %></address>
      <p><%= comment.content %></p>
    </div>
    <%= link_to collaborator_path(current_collaborator), class: "shrink-0" do %>
      <%= profile_picture current_collaborator %>
    <% end %>
  </article>
<% else %>
  <article class="flex items-center gap-1" id="<%= dom_id comment %>">
    <%= link_to collaborator_path(comment.collaborator), class: "shrink-0" do %>
      <%= profile_picture comment.collaborator %>
    <% end %>
    <div class="align-middle inline-block px-2 py-1 bg-gray-800 rounded-lg mb-2">
      <address class="inline text-sm font-semibold"><%= comment.collaborator.name %></address>
      <time class="text-sm text-gray-500 " datetime="<%= comment.created_at %>"><%= comment_datetime comment %></time>
      <p><%= comment.content %></p>
    </div>
    <% if current_collaborator&.admin? %>
      <div class="inline-block">
        <%= button_to '', [comment.project, comment], method: :delete, class: "bi bi-trash p-1 text-gray-600 hover:text-red-600" %>
      </div>
    <% end %>
  </article>
<% end %>
