<%= form_with(model: [@project, task], data: { controller: "form", action: "turbo:submit-end->form#reset" }) do |form| %>
  <%= render 'shared/errors', object: task %>

  <%= form.text_field :name, placeholder: "Name this task", autofocus: true, class: "w-full ps-0 text-3xl mb-0 bg-transparent border-0 focus-none" %>

  <%= form.hidden_field :project_id %>

  <div class="mt-2 mb-3">
    <%= form.submit class: "btn btn-green" %>
    <%= link_to "Close", project_tasks_path(@project), class: "btn btn-dark" %>
  </div>
<% end %>
