<%= form_with(model: [@project, task], data: { controller: "form", action: "turbo:submit-end->form#reset" }) do |form| %>
  <%= render 'shared/errors', object: task %>

  <div class="mt-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control text-bg-dark border-0" %>
  </div>

  <div class="mt-3">
    <%= form.hidden_field :project_id %>
  </div>

  <div class="mt-3">
    <%= form.submit class: "btn btn-success" %>
    <%= link_to "Close", project_tasks_path(@project), class: "btn btn-dark" %>
  </div>
<% end %>
