<div class="mt-3" id="<%= dom_id task %>">
  <h3 class="fs-4 d-inline-block">
    <%= link_to task.name, project_task_path(@project, task), class: "link-dark" %>
  </h3>
  <div class="ms-3 d-inline-flex gap-2">
    <%= link_to '', edit_project_task_path(@project, task), class: "bi bi-pencil-square fs-6 btn p-0" %>
    <%= button_to '', [@project, task], class: "bi bi-trash fs-6 btn p-0", method: :delete %>
  </div>

  <%= render task.todos %>

  <div>
    <%= link_to 'New todo', new_project_task_todo_path(@project, task), class: "btn btn-sm btn-secondary" %>
  </div>
</div>
