<div class="mb-8 card-darker" id="<%= dom_id task %>">
  <%= turbo_frame_tag task do %>
    <div class="flex items-top">
      <h2 class="text-3xl">
        <%= link_to task.name, project_task_path(task.project, task), data: { turbo_frame: "_top" } ,class: "py-2" %>
      </h2>
      <%= render "shared/dropdown_menu", object: task %>
    </div>
  <% end %>

  <% task.todos.uncompleted.each do |todo| %>
    <%= render todo %>
  <% end %>

  <%= turbo_frame_tag "new_todo" do %>
    <%= link_to 'New todo', new_project_task_todo_path(task.project, task), class: "mt-1 btn btn-sm btn-dark" %>
  <% end %>

  <% task.todos.completed.each do |todo| %>
    <%= render todo %>
  <% end %>
</div>
