<div class="my-2 px-2 py-1 card-darker" id="<%= dom_id collaborator %>">
  <%= link_to collaborator, class: "hstack gap-2 flex-wrap text-decoration-none" do %>
    <%= profile_picture collaborator %>
    <div>
      <p class="mb-0"><%= collaborator.name %></p>
      <p class="mb-0 text-secondary"><%= collaborator.title %></p>
    </div>
  <% end %>
</div>
