<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @collaborator %>">
  <%= link_to @collaborator, class: "vstack align-items-center text-center text-decoration-none" do %>
    <%= default_large_profile(@collaborator) %>
    <div>
      <p class="my-0 text-dark"><%= @collaborator.name %></p>
      <p class="my-0 text-secondary"><%= @collaborator.title %></p>
      <p class="my-0 text-secondary"><%= @collaborator.email %></p>
    </div>
  <% end %>
  <div class="text-center">
    <%= link_to edit_collaborator_path(@collaborator), class: "mt-1 btn btn-sm btn-dark" do %>
      Edit<i class="bi bi-pencil-square ms-2"></i>
    <% end %>
    <%= button_to @collaborator, class: "mt-1 btn btn-sm btn-danger", method: :delete do %>
      Destroy<i class="bi bi-trash ms-2"></i>
    <% end %>
  </div>
</div>
