<div class="text-center">
  <%= profile_picture_large @collaborator %>
</div>
<div class="flex justify-center items-center">
  <h1 class="text-2xl text-center"><%= @collaborator.name %></h1>
  <% if @collaborator == current_collaborator || current_collaborator.admin? %>
    <%= render 'shared/dropdown_menu', object: @collaborator %>
  <% end %>
</div>
<p class="text-center"><%= @collaborator.title %></p>
<% if @collaborator.admin? %>
  <p class="text-center">
    <span class="bg-blue-800 p-1 rounded">Admin <i class="bi bi-star-fill text-yellow-500"></i></span>
  </p>
<% end %>

<%= render 'shared/assignments', collaborator: @collaborator %>