<div class="text-center">
  <%= profile_picture_large @collaborator %>
</div>
<div class="flex justify-center items-center">
  <h1 class="text-2xl text-center"><%= @collaborator.name %></h1>
  <% if @collaborator == current_collaborator || current_collaborator.admin? %>
    <%= render 'shared/dropdown_menu', object: @collaborator %>
  <% end %>
</div>
<p class="text-center"><%= @collaborator.title %></p>

<%= render 'shared/assignments', collaborator: @collaborator %>