<p style="color: green"><%= notice %></p>

<div class="text-center">
  <%= default_large_profile(@collaborator) %>
</div>
<h1 class="mb-0 fs-2 text-center"><%= @collaborator.name %></h1>
<p class="mb-0 text-center"><%= @collaborator.title %></p>
<p class="mb-0 text-center"><%= @collaborator.email %></p>
<% if @collaborator == current_collaborator %>
  <div class="mt-1 d-flex flex-wrap justify-content-center gap-2">
  <%= link_to edit_collaborator_path(@collaborator), class: "mt-1 btn btn-sm btn-dark" do %>
      Edit<i class="bi bi-pencil-square ms-2"></i>
    <% end %>
    <%= button_to @collaborator, class: "mt-1 btn btn-sm btn-danger", method: :delete do %>
      Destroy<i class="bi bi-trash ms-2"></i>
    <% end %>
  </div>
<% end %>
