<%= link_to project_documents_path(project), class: "overflow-hidden" do %>
  <div class="card-darker card-height title-container">
    <h2 class="title">Documents</h2>
    <% if project.documents.blank? %>
      <%= button_tag "Add a document", class: "btn btn-dark btn-sm" %>
    <% else %>
      <div class="grid grid-cols-2 sm:grid-cols-3 mx-1 gap-7">
        <% project.documents.recent.each do |document| %>
          <div class="document-card document-card-sm" id="<%= dom_id document %>">
            <h3 class="mb-2 text-center">
              <i class="bi bi-folder-fill text-blue-800"></i>
              <%= document.name %>
            </h3>
            <% document.files.each do |file| %>
              <% if file.representable? %>
                <%= image_tag file.representation(resize_to_limit: [90, 100]), class: "rounded-sm mx-auto" %>
              <% else %>
                <div class="text-center">
                  <i class="bi bi-file-earmark-text text-5xl"></i>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>