<div class="text-center">
  <%= link_to @project.name, @project, class: "mx-2 link" %>
  <span class="small"> > </span>
  <%= link_to 'Documents', project_documents_path(@project), class: "mx-2 link" %>
</div>

<div class="mt-4 card-darker text-center">
  <div>
    <h2 class="fs-3 d-inline-block"><%= @document.name %></h2>
    <div class="ms-auto d-inline-block">
      <%= render "shared/dropdown_three_dots", object: @document %>
    </div>
  </div>
  <div>Uploaded by <%= profile_picture_small @document.collaborator %> <%= @document.collaborator.name %></div>
  <div class="my-5">
    <% @document.files.each do |file| %>
      <%= link_to rails_blob_path(file, disposition: "attachement"), { target: "_blank" } do %>
        <% if file.representable? %>
          <%= image_tag file.representation(resize_to_limit: [500, 1000]), class: "cursor-zoom-in" %>
        <% else %>
          <i class="bi bi-file-earmark-text display-1"></i>
        <% end %>
      <% end %>
      <div>
        <%= file.filename %>
        <%= link_to "Download", rails_blob_path(file, disposition: "attachment"), class: "mx-2 text-decoration-underline" %>
      </div>
    <% end %>
  </div>
  <% if @document.description.present? %>
    <p>Notes: <br><%= @document.description %></p>
  <% end %>
</div>
