<p style="color: green"><%= notice %></p>

<div class="hstack justify-content-center">
  <h1 class="text-center mb-0"><%= @project.name %></h1>
  <% if @project.collaborator == current_collaborator || current_collaborator.admin? %>
    <%= render "shared/dropdown_menu", object: @project %>
  <% end %>
</div>

<p class="text-center fs-5"><%= @project.description %></p>

<div class="text-center">
  <%= link_to collaborator_path(@project.collaborator) do %>
    <%= profile_picture @project.collaborator %>
  <% end %>
</div>

<div class="row justify-content-center row-gap-3 mb-5">
  <%= render 'comments/card', project: @project %>
  <%= render 'tasks/card', project: @project %>
  <%= render 'documents/card', project: @project %>
</div>