<p style="color: green"><%= notice %></p>
<h1 class="text-center mb-0"><%= @project.name %></h1>
<p class="text-center fs-5"><%= @project.description %></p>

<% if @project.collaborator == current_collaborator %>
  <div class="text-center">
    <div class="d-inline-flex align-items-center gap-1">
      <%= link_to 'edit', edit_project_path(@project), class: "bi bi-pencil-square link-secondary p-1 fs-6" %>
      <%= button_to 'delete', @project, class: "bi bi-trash btn link-secondary p-1 fs-6", method: :delete %>
    </div>
  </div>
<% end %>
<div class="text-center">
  <%= profile_picture @project.collaborator %>
</div>

<div class="d-flex flex-wrap justify-content-between">
  <%= render 'comments/card_comments', project: @project %>
  <%= render 'tasks/card_tasks', project: @project %>
</div>