<p style="color: green"><%= notice %></p>

<h1 class="text-center mb-0"><%= @project.name %></h1>
<p class="text-center fs-5"><%= @project.description %></p>
<div class="text-center">
  <%= default_profile @project.collaborator %>
</div>

<%= link_to 'New task', new_project_task_path(@project), class: "btn btn-success text-black" %>

<% if @project.tasks.any? %>
  <%= render @project.tasks %>
<% end %>