<% @title = @project.name %>

<div class="flex justify-center items-center">
  <h1 class="text-center text-3xl"><%= @project.name %></h1>
  <% if @project.collaborator == current_collaborator || current_collaborator.admin? %>
    <%= render "shared/dropdown_menu", object: @project %>
  <% end %>
</div>

<p class="text-center text-lg"><%= @project.description %></p>

<div class="mt-3 text-center">
  <%= link_to collaborator_path(@project.collaborator) do %>
    <%= profile_picture @project.collaborator %>
  <% end %>
</div>

<div class="grid md:grid-cols-2 gap-4">
  <%= render 'comments/card', project: @project %>
  <%= render 'tasks/card', project: @project %>
  <div class="md:translate-x-1/2">
    <%= render 'documents/card', project: @project %>
  </div>
</div>