<p style="color: green"><%= notice %></p>

<div class="hstack justify-content-center">
  <h1 class="text-center mb-0"><%= @project.name %></h1>
  <% if @project.collaborator == current_collaborator %>
    <%= render "shared/dropdown_three_dots", object: @project %>
  <% end %>
</div>

<p class="text-center fs-5"><%= @project.description %></p>

<div class="text-center">
  <%= profile_picture @project.collaborator %>
</div>

<div class="d-flex flex-wrap justify-content-center gap-3 mb-5">
  <%= render 'comments/card_comments', project: @project %>
  <%= render 'tasks/card_tasks', project: @project %>
  <%= render 'documents/card_documents', project: @project %>
</div>