<div class="d-flex flex-wrap align-items-center my-1" id="<%= dom_id todo %>">
  <%= form_with model: todo, url: done_todo_path(todo.task.project, todo.task, todo), data: { controller: "todo", action: "input->todo#done" } do |form| %>
    <%= form.check_box :done, class: "form-check-input form-check-todo me-2" %>
  <% end %>
  <%= link_to [todo.task.project, todo.task, todo], class: "hstack" do %>
    <h3 class="fs-6 mb-0 me-1">
      <%= todo.name %>
    </h3>
    <% if todo.priority.present? %>
      <i class="<%= priority_icon(todo) %>"></i>
    <% end %>
    <% if todo.due_on.present? %>
      <i class="bi bi-calendar-event text-primary fs-6 mx-1"></i>
      <span class="text-secondary me-1"><%= todo.due_on.strftime("%a, %b %d") %></span>
    <% end %>
    <% if todo.description.present? %>
      <i class="bi bi-justify-left text-secondary fs-6 me-2"></i>
    <% end %>
  <% end %>
  <% if todo.collaborators.present? %>
    <% todo.collaborators.each do |collaborator| %>
      <%= link_to collaborator, class: "ms-1" do %>
        <%= profile_picture_small collaborator %>
      <% end %>
    <% end %>
  <% end %>
</div>
