<div class="d-flex flex-wrap align-items-baseline" id="<%= dom_id todo %>">
  <h3 class="fs-5">
    <%= link_to todo.name, [todo.task.project, todo.task, todo], class: "fs-6 py-2" %>
  </h3>
  <% unless todo.description.empty? %>
    <%= link_to "", [todo.task.project, todo.task, todo], class: "bi bi-justify-left fs-6 mx-1" %>
  <% end %>
  <% unless todo.due_on.nil? %>
    <%= link_to [todo.task.project, todo.task, todo], class: "bi bi-calendar-event fs-6 mx-1" do %>
      <%= todo.due_on.strftime("%a, %b %d") %>
    <% end %>
  <% end %>
  <% unless todo.collaborators.empty? %>
    <%= link_to [todo.task.project, todo.task, todo], class: "mx-1" do %>
      <% todo.collaborators.each do |collaborator| %>
        <%= profile_picture_small collaborator %>
      <% end %>
    <% end %>
  <% end %>
</div>
