<%= render 'shared/links', object: @todo %>

<p style="color: green"><%= notice %></p>
<h1 class="visually-hidden">Todo</h1>

<div class="mb-1"><%= arrows_todo(@todos, @todo) %></div>

<div class="card-darker" id="<%= dom_id @todo %>">
  <div class="d-flex align-items-center">
    <%= form_with model: @todo, url: done_todo_path(@todo.task.project, @todo.task, @todo), class: "hstack" do |form| %>
      <%= form.check_box :done, class: "form-check-input form-check-todo mb-1 me-2", onchange: "this.form.submit()" %>
      <%= form.label :done, @todo.name, class: "fs-3" %>
    <% end %>
    <%= render "shared/dropdown_menu", object: @todo %>
  </div>

  <div class="mt-3 hstack gap-3">
    <span class="todo-menu text-end">Assigned to</span>
    <% if @todo.collaborators.blank? %>
      <%= link_to "Add collaborator", edit_project_task_todo_path(@todo.task.project, @todo.task, @todo), class: "link-secondary" %>
    <% else %>
      <div>
        <% @todo.collaborators.each do |collaborator| %>
          <%= link_to collaborator do %>
            <%= profile_picture_small collaborator %>
            <%= collaborator.name %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-3 hstack gap-3">
    <span class="todo-menu text-end">Notes</span>
      <% if @todo.description.blank? %>
        <%= link_to "Add description", edit_project_task_todo_path(@todo.task.project, @todo.task, @todo), class: "link-secondary" %>
      <% else %>
        <%= @todo.description %>
      <% end %>
  </div>

  <div class="mt-3 hstack gap-3">
    <span class="todo-menu text-end">Due on</span>
    <% if @todo.due_on.blank? %>
      <%= link_to "Select a date", edit_project_task_todo_path(@todo.task.project, @todo.task, @todo), class: "link-secondary" %>
    <% else %>
      <%= @todo.due_on.strftime("%a, %b %d") %>
    <% end %>
  </div>

  <div class="mt-3 hstack gap-3">
    <span class="todo-menu text-end">Priority</span>
    <% if @todo.priority.blank? %>
      <%= link_to "Add priority level", edit_project_task_todo_path(@todo.task.project, @todo.task, @todo), class: "link-secondary" %>
    <% else %>
      <div>
        <i class="<%= priority_icon(todo) %>"></i>
        <%= @todo.priority %>
      </div>
    <% end %>
  </div>

</div>
