<%= render "link", todo: @todo %>

<p style="color: green"><%= notice %></p>
<h1 class="visually-hidden">Todo</h1>

<div class="mb-1"><%= arrows_todo(@todos, @todo) %></div>

<div class="card-darker" id="<%= dom_id @todo %>">
  <div class="d-flex align-items-center">
    <%= form_with model: @todo, url: done_todo_path(@todo.task.project, @todo.task, @todo), class: "hstack" do |form| %>
      <%= form.check_box :done, class: "form-check-input form-check-todo mb-1 me-2", onchange: "this.form.submit()" %>
      <%= form.label :done, @todo.name, class: "fs-3" %>
    <% end %>
    <div class="ms-auto dropdown text-white ms-3">
      <a class="py-1 nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="three-dots"><i class="bi bi-three-dots fs-5"></i></div>
      </a>
      <ul class="dropdown-menu" data-bs-theme="dark">
        <li>
          <%= link_to edit_project_task_todo_path(@todo.task.project, @todo.task, @todo), class: "dropdown-item" do %>
            <i class="bi bi-pencil-square me-2"></i>Edit
          <% end %>
        </li>
        <li>
          <%= button_to [@todo.task.project, @todo.task, @todo], class: "dropdown-item", method: :delete do %>
            <i class="bi bi-trash me-2"></i>Delete
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-3 hstack gap-3">
    <span class="todo-menu text-end">Assigned to</span>
    <% if @todo.collaborators.empty? %>
      <%= link_to "Add collaborator", edit_project_task_todo_path(@todo.task.project, @todo.task, @todo), class: "link-secondary" %>
    <% else %>
      <div>
        <% @todo.collaborators.each do |collaborator| %>
          <%= profile_picture_small collaborator %>
          <%= collaborator.name %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-3 hstack gap-3">
    <span class="todo-menu text-end">Notes</span>
      <% if @todo.description.empty? %>
        <%= link_to "Add description", edit_project_task_todo_path(@todo.task.project, @todo.task, @todo), class: "link-secondary" %>
      <% else %>
        <%= @todo.description %>
      <% end %>
  </div>

  <div class="mt-3 hstack gap-3">
    <span class="todo-menu text-end">Due on</span>
    <% if @todo.due_on.nil? %>
      <%= link_to "Select a date", edit_project_task_todo_path(@todo.task.project, @todo.task, @todo), class: "link-secondary" %>
    <% else %>
      <%= @todo.due_on.strftime("%a, %b %d") %>
    <% end %>
  </div>

  <div class="mt-3 hstack gap-3">
    <span class="todo-menu text-end">Priority</span>
    <% if @todo.priority.nil? %>
      <%= link_to "Add priority level", edit_project_task_todo_path(@todo.task.project, @todo.task, @todo), class: "link-secondary" %>
    <% else %>
      <div>
        <i class="<%= priority_icon(todo) %>"></i>
        <%= @todo.priority %>
      </div>
    <% end %>
  </div>

</div>
