<%= form_with(model: organization) do |form| %>
  <%= render 'shared/errors', object: organization %>

  <div>
    <%= form.text_field :name, placeholder: "Edit organization name", autofocus: true, class: "w-full ps-0 bg-transparent border-0 focus-none" %>
  </div>

  <div class="mt-3">
    <%= form.submit class: "btn btn-green" %>
    <%= link_to "Close", collaborators_path, class: "btn btn-dark" %>
  </div>
<% end %>
