<%= form_with(model: organization) do |form| %>
  <%= render 'shared/errors', object: organization %>

  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control text-bg-dark border-0" %>
  </div>

  <div class="mt-2">
    <%= form.submit class: "btn btn-success mt-2" %>
  </div>
<% end %>
